* {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Fonts/Playfair_Display,Roboto/Roboto/static/Roboto-Regular.ttf');
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

.cook {
    max-width: 15rem;
    box-shadow: 0rem 0.5rem 1rem rgb(148, 148, 148);
}

#sectionOne {
    margin-top: 1rem;
}

#sectionTwo {
    margin-top: 5rem;
}

.container, .headerIcons, .projectScreenshot, .projectHeader, .projectIcons, .projectIcons, .contact, .contactIcons {
    display: flex;
}

.contact {
    flex-direction: column;
}

.container, .projectScreenshot {
    align-items: center;
}

.contactIcons, .headerIcons {
    justify-content: center;
}

h1 {
    max-width: 15rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PlayfairDisplay-Regular';
    font-weight: lighter;
}

h1, h4, #sectionThree {
    color: white;
}

h1 {
    position: absolute;
    font-size: 3rem;
    top: 15rem;
}

@media (max-width: 425px) {
    body {
        background: 
        linear-gradient(155deg, rgb(26, 159, 221) 20rem, rgb(212, 212, 212) 0.5rem, rgb(255, 255, 255) 20.5rem);
    }

    .container {
        flex-direction: column;
    }
}

@media (425px < width) {
    body {
        background: 
        linear-gradient(165deg, rgb(26, 159, 221) 25rem, rgb(212, 212, 212) 0.5rem, rgb(255, 255, 255) 25.5rem);
    }

    .about {
        background-color: rgb(255, 255, 255);
        box-shadow: 0rem 0.5rem 1rem rgb(148, 148, 148);
        display: flex;
        margin-top: 2rem;
    }

    .headerIcon {
        visibility: collapse;
    }
}

h2, h3, h6 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h3 {
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 2.5rem;
    padding: 1rem;
}

h5 {
    font-size: 1.2rem;
}

.contactRequest, .contactInfo, .bio, .projectDescription {
    font-family: 'Roboto-Regular';
}

.bio, .projectDescription {
    color: rgb(114, 114, 114);
}

.bio {
    max-width: 17rem;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.7rem;
}

.projectDescription {
    margin: 1rem;
}

.headerIcon, .contactIcon {
    height: 2rem;
}

.headerIcon {
    margin: 0.4rem;
}

.contactIcon {
    margin: 0.7rem;
}

.project, .contactIcons {
  margin-bottom: 3rem;
}

.project {
    max-width: 17rem;
    height: 25rem;
}

.projectScreenshot, h6, h2 {
    text-align: center;
}

.projectScreenshot {
    height: 15rem;
}

.projectScreenshot.one{
    background-color: rgb(152, 118, 232);
}

.projectScreenshot.two{
    background-color: rgb(232, 151, 30);
}

.projectScreenshot.three{
    background-color: rgb(87, 159, 82);
}

.projectScreenshot.four{
    background-color: rgb(204, 114, 216);
}

.projectScreenshot.five{
    background-color: rgb(41, 66, 225);
}

.projectScreenshot.six{
    background-color: rgb(36, 104, 25);
}

.projectInfo, .projectHeader {
    max-width: 100%;
}

.projectInfo {
    height: 10rem;
    box-shadow: 0rem 0.1rem 0.4rem rgb(148, 148, 148);
}

.projectHeader {
    justify-content: space-between;
}

.projectTitle, .projectIcons {
    margin-top: 1rem;
}

.projectTitle {
    margin-left: 2rem;
}

.projectIcons {
    min-width: 33%;
    justify-content: space-evenly;
}

.projectIcon {
    max-width: 1.5rem;
}

.footerImage {
    max-width: 100vw;
}

#sectionThree {
    background-color: rgb(26, 159, 221);
}

.contactRequest, .contactInfo {
    margin-left: 2rem;
    margin-right: 1rem;
}

.contactRequest, .contactInfo, .phoneNumber {
    margin-top: 1rem;
}

.phoneNumber {
    margin-bottom: 0.5rem;
}