* {
    /* outline: 1px solid red; */
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Fonts/Playfair_Display,Roboto/Roboto/static/Roboto-Regular.ttf');
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

body {
    width: 100vw;
    height: 100vh;
    background: 
    linear-gradient(150deg, rgb(26, 159, 221) 25rem, rgb(212, 212, 212) 0.5rem, rgb(255, 255, 255) 25.5rem);
}

.cook {
    width: 22rem;
    box-shadow: 0rem 0.5rem 1rem rgb(148, 148, 148);
}

#sectionOne {
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-family: 'PlayfairDisplay-Regular';
    font-weight: lighter;
}

h1 {
    color: white;
    position: absolute;
    font-size: 5rem;
    top: 22rem;
    left: 3rem;
}

h2 {
    font-size: 3rem;
}